<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/members" method="POST" class="mb-4">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required/>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required />
  </div>
  <button class="btn btn-primary" type="submit">Add Member</button>
</form>
<h4>Members</h4>
<ul class="list-group">
  {{#each members}}
  <li class="list-group-item">{{this.name}}: {{this.email}}</li>
  {{/each}}
</ul>

<a href="/api/members" class="btn btn-dark mt-4" role="button">Visit API</a>
